
html {
    width: 100%;
    height: 100%;
    display: table;
    font-family:"Museo Sans";
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 0px;
    overflow-y: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#root{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
    margin: 0;
}

.viewAllLink{
    width: 70px;
}

@font-face {
    font-family:"Museo Sans";
    src: url("./components/fonts/museoSans.ttf") format("TrueType");
  }

@media(min-width: 651px) {
    .normalNav{ display: inline-block};
    .link{ display: inline-block };
    .hamburgerMenu{ display: none; };
}

@media(max-width: 650px) {
    .link{ display: none }
    .normalNav{ display: none; };
    .hamburgerMenu{ display: inline-block; }
}

/* PACKAGES */
.p1{ background: #f6f7f1; }
.p2{ background: #02cccc }
.p3{ background: #7b49ec; color: #ffffff}
.p4{ background: #2c2a6c; color: #ffffff}