@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-400px * 3))}
}
@media(max-width: 600px) {
	@keyframes scroll {
		100% { transform: translateX(calc(-400px * 2))}
	}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 200px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	z-index: 1;
	border-radius: 5px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 200px;
		position: absolute;
		width: 200px;
		z-index: 2;

		@media(max-width: 600px) {
			height: 250px;
			width: 100px;
		}
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(400px * 15);
	}
	
	.slide {
		height: 200px;
		width: 700px;
		margin-right: 20px;
		margin-top: 10px;
		margin-left: 20px;
	}

	@media(max-width: 600px) {
		.slide{
			width: 240px;
		}
	}
}

@media(max-width: 600px) {
	.slider{
		height: 250px;
	}
}